#!/usr/bin/env bash

if [ ! command -v nix ] >/dev/null 2>&!; then
  echo "NIX should be installed and available on the path." >&2
  return 255 2>/dev/null || exit 0
fi

if ! has nix_direnv_version || ! nix_direnv_version 3.1.2; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.2/direnvrc" "sha256-Di03ad3a0ueGi6CGrfhrQzyGdQIg9APXIPCAMNQgWYM="
fi

use flake . --impure
